* {
  padding: 0;
  margin: 0;
}

.container-global {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(172, 135, 129); */
}

.container-btn {
  display: flex;
  position: absolute;
  height: 96.875%;
  left: 1.5%;
}

.btn-sidebar {
  display: flex;
  height: 3rem;
  width: 3rem;
  /* margin-left: 1.5rem; */
  border-radius: 50%;
  background-color: #383838;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}
.btn-sidebar:hover{
  background-color: #333333;
}

.menu-icon{
  padding: 25%;
  fill: #B4FDA8;
}

.btn-sidebar p {
  color: white;
}

.container-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  letter-spacing: 1px;
}

.pomodorc-text {
  font-size: 8rem;
  /* background-color: salmon; */
  margin-bottom: 5rem;
}

.timer-text {
  font-size: 10rem;
  /* background-color: #2e3a51; */
  margin-bottom: 10rem;
  
}

.ctn-btn-icons{
  display: flex;
  gap: 105px;
  /* background-color: tomato; */
}

.btn-reset{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #383838;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-play{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #383838;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-skip{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #383838;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.reset-icon{
  fill: #B4FDA8;
}

.play-icon{
  fill: #B4FDA8;
}

.skip-icon{
  fill: #B4FDA8;
}

